<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserMapper.xml的作用类似UserDaoImpl-->
<!--namespace绑定一个对应的DAO接口/Mapping接口 -->
<!-- #{}取变量从parametertype中取作为形参 输入的对象-->
<mapper namespace="com.hanzhiwei.dao.UserMapper">
    <select id="getUser" resultType="com.hanzhiwei.pojo.User">
    select * from user
  </select>

    <select id="getUserbyid" parameterType="int" resultType="com.hanzhiwei.pojo.User">

        select * from mybatis.user where id=#{id}
    </select>

    <insert id="insert" parameterType="com.hanzhiwei.pojo.User">
        insert into user (id,name ,pwd) values (#{id},#{name},#{pwd});
    </insert>
    <update id="UpdateUser" parameterType="com.hanzhiwei.pojo.User">
        update user set name =#{name},pwd=#{pwd} where id=#{id}
    </update>

    <select id="getUserByMap" parameterType="Map" resultType="com.hanzhiwei.pojo.User">
        select * from mybatis.user where id=#{userid}
    </select>
</mapper>